.client-container {
  padding-bottom: 94px;
}

.clients {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 0;
}

.clients .clients-items:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  height: 90px;
  width: 170px;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;

  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.clients-link:hover,
.clients-link:focus {
  fill: $accent-text-color;
  border: 1px solid #2196f3;
}
