.command-container {
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.command {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.command .command-item:not(:last-child) {
  margin-right: 30px;
}

.command-item {
  width: 270px;
  height: 422px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-item-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  background-color: white;
  border-radius: 50%;
  fill: #afb1b8;

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.command-item-icon:hover,
.command-item-icon:focus {
  height: 44px;
  width: 44px;
  background-color: $accent-text-color;
  border-radius: 50%;
  fill: $special-text-color;
}

.command-icon {
  height: 20px;
  width: 20px;
}

.command-photo {
  width: 270px;
  height: 260px;
}

.command-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  color: $title-text-color;
}

.command-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
}

.command-contacts {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 44px;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 16px;
}
