*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: $primary-taxt-color;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

ul {
  list-style: none;
}
